@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-glamore: "Glamore", sans-serif;
}

@font-face {
  font-family: "Glamore";
  src: url("./assets/fonts/Glamore.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #020a17;
  background-color: #fafafa;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1em;
}

button {
  border-radius: full;

  padding: 0.6em 1.2em;

  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #d3d7da;
}

@media (min-width: 769px) {
  .swiper .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiper .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}

.swiper-pagination-bullet-active {
  background: #020a17 !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: #020a17 !important;
}

.swiper-scrollbar {
  display: none !important;
}
